<div data-subsection data-section-id="{{ block.id }}" data-section-type="title-section" id="video-{{ block.id }}">
  <div class="title-section">
    {% if block.settings.title != blank %}
      <p class="h2">{{ block.settings.title }}</p>
    {% endif %}
  </div>
</div>
