<div data-subsection data-section-id="{{ block.id }}" data-section-type="image-section" data-align-top="true" class="spacer-section {% if block.settings.small_spacing %} small-space{% endif %}"></div>