<a href="/" class="retail-landing-back"></a>
<div class="retail-landing">
  <img src ="{{ 'homielogo.png' | asset_url }}" alt="HoMie Logo" />
  <p>Sign up to get the latest news, special offers and updates from HoMie!</p>
  
  <div class="klaviyo-form-TT5Rdr"></div>
</div>